/* Reset */
* {
  margin: 0px;
}
/* Fine Reset */

/* Common */
.container {
  width: 1024px;
  margin: auto;
}

.highlight {
  background-color: yellow;
}
/* Fine Common */

/* Header */
header {
  background-color: lightblue;
  background-image: url("../img/pattern.png");
  background-size: 400px;
}

.logo-img {
  width: 200px;
  margin-top: 30px;
}
/* Fine Header */

/* Main */
main h1 {
  font-size: 40px;
  line-height: 40px;
}

main {
  margin-top: 20px;
}

.author {
  color: gray;
  font-size: 20px;
}

.date {
  color: gray;
  font-size: 12px;
}

.author span {
  color: blue;
}

.photos {
  margin-top: 20px;
}

.caption {
  font-size: 10px;
}

.paragraph,
ul {
  margin-top: 20px;
}

/* Fine Main */
